body {
  margin: 0;
}

.page-host{
    padding-top: 60px;
}

.bagItem{
    width: 300px;
    padding: 6px;
    margin-top: 1px;
    background-color: antiquewhite;
}

.bagItem:hover{
    background-color: beige;
    cursor: pointer;
}

.battleStackItem{
    width: 80px;
    padding: 6px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: coral;
    color:whitesmoke;
    font-weight: 600;
    float: left;
}

.lootItem{
    width: 80px;
    padding: 6px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: darkcyan;
    color:whitesmoke;
    font-weight: 600;
    float: left;
}

.lootItem:hover{
    background-color: cadetblue;
    cursor: pointer;
}

.inventoryItem{
    padding: 10px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: hotpink;
    color:whitesmoke;
    font-weight: 600;
    float: left;
}

.inventoryItem:hover{
    background-color: pink;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clearfix{
    clear:both;
    min-height: 100px;
}
